/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 15px;
}

.navbar .busca {
  display: flex;
  flex-grow: 1;
  min-width: 250px;
}

.navbar .busca input {
  flex-grow: 1;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.navbar .busca button {
  border-radius: 0 5px 5px 0;
}

.navbar .busca input[type="submit"] {
  border-radius: 0 5px 5px 0;
  flex-shrink: 0;
}

.navbar a.new {
  max-height: fit-content;
}

/* Tabela */
.tabela-dados {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-dados th,
.tabela-dados td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid var(--borda-comum);
  vertical-align: center;
}

.tabela-dados th {
  background-color: var(--fundo-pagina);
  color: var(--texto-titulo);
  text-transform: uppercase;
  font-size: 0.9em;
}

.tabela-dados tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.tabela-dados tbody tr:hover {
  background-color: #f1f1f1;
}

.tabela-dados td:last-child .button:not(:last-child) {
  margin-right: 8px;
}
